<div *ngIf="contact.imageUrl" class="panel-body">
  <div class="container-fluid list-group-item" style="padding: 10px">
    <div class="clearfix" style="border: 2px #ddd">
      <div class="list-group-item-heading" style="display: inline-block">
        {{ contact.name }}
      </div>
      <span class="pull-right">
        <img
          [src]="contact.imageUrl"
          [alt]="contact.name"
          class="image-responsive"
          style="max-height: 50px"
        />
      </span>
    </div>
  </div>
</div>
