<div class="comtainer-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default clearfix">
        <div
          class="panel-heading"
          style="
            padding: 10px;

            align-items: center;
          "
        >
          <div class="row">
            <div class="col-md-5">
              <h1 class="panel-title">
                {{ contact.name }}
              </h1>
              <span class="pull-left">
                <img
                  [src]="contact.imageUrl"
                  [alt]="contact.name"
                  class="image-responsive"
                  style="max-height: 50px"
                />
              </span>
            </div>
            <div class="col-md-5" style="margin-bottom: 2px">
              <div class="row" style="align-self: baseline">
                <div class="col-md-8"><img src="" alt="" /></div>
                <div
                  class="col-md-4"
                  style="display: flex; justify-content: space-between"
                >
                  <div class="btn btn-success" style="display: inline-block">
                    Edit
                  </div>
                  <div class="btn btn-danger" style="display: inline-block">
                    Delete
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div
            class="container-fluid"
            ngFor="let contact of contacts"
            style="padding: 10px"
          >
            <div class="clearfix" style="border: 2px #ddd">
              <div class="list-group-item-heading">
                Email: {{ contact.email }}
              </div>
              <div class="list-group-item-heading">
                Phone: {{ contact.phone }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
