<a class="comtainer-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default clearfix">
        <div
          class="panel-heading"
          style="
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
          "
        >
          <h1 dnd-draggable class="panel-title" style="display: inline-block">
            Contacts
          </h1>
          <a
            routerLink="new"
            class="btn btn-success pull-right"
            style="display: inline-block"
          >
            Add Contact
          </a>
        </div>

        <cms-contact-item
          *ngFor="let contact of contacts"
          dnd-draggable
          [dragEnabled]="true"
          [dragData]="contact"
          [dropZones]="['contactGroup']"
          routerLink="{{ contact.id }}"
          [contact]="contact"
          (click)="onSelected(contact)"
        ></cms-contact-item>
      </div>
    </div>
  </div>
</a>
